# Editor
*.sublime-project
*.sublime-workspace
*.DS_Store

# Data
*.zip
*MA_n=*.csv

# Trial
trial.py
edit*.py

# Output
output/*
*.html

# Notebooks
*.ipynb*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
